* {
    color: $colour_outer_space_love;
    scroll-behavior: smooth;
}
a {
    color: $colour_outer_space_love;
    &:link {
        color: $colour_outer_space_love;
        text-decoration: none;
    }
    &:visited {
        color: $colour_outer_space_love;
        text-decoration: none;
    }
}




span.material-symbols-outlined {
    vertical-align: bottom;
    font-size: 1.4em!important;
}


