$colour_bad: red;
$colour_good: green;

.message {
    font-weight: 600;
    background-color: $colour_sunny_side_up_yellow;
    display: block;
    padding: 1rem;
    text-align: center;
    color: $colour_black_lighter;
    a {
        display: inline-block;
        padding: 0 3px;
    }
    * {
        color: $colour_white;
    }
}

.message.bad {
    background-color: $colour_bad;
    color: $colour_white;
}
.message.good {
    background-color: $colour_good;
    color: $colour_white;
}
