$colour_bad: red;
$colour_good: green;

.message {
    font-size: 2rem!important;
    line-height: 1;
    margin-bottom: 0.5rem;
    font-weight: 600;
    background-color: $colour_sunny_side_up_yellow;
    display: block;
    padding: 1rem;
    text-align: center;
    color: $colour_black_lighter;
    a {
        display: inline-block;
        color: $colour_white;
        padding: 0 3px;
    }
}
> p.message {
    margin-bottom: -3.5rem!important;
    width: calc(50% - 2rem);
    z-index: 9;
    position: relative;
    left: 50%;
}
.message strong {
    font-size: 2rem!important;
    line-height: 1;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: $colour_black_lighter;
}

span.message {
    margin-top: 0;
    font-weight: 900px;
}
.field + span.message {
    margin-top: -0.8rem;
}
span.message.bad {
    background-color: $colour_bad;
    color: $colour_white;
}
span.message.good {
    background-color: $colour_good;
    color: $colour_white;
}