#ShowHideCurrent {
    padding-bottom: 1rem;
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
    &.show-current {
        #ShowHideCurrentShowCurrent {
            display: block;
            color: white;
            font-weight: bold;
        }
        #ShowHideCurrentShowAll {
            display: block;
        }
    }
    &.show-all {
        #ShowHideCurrentShowAll {
            display: block;
            color: white;
            font-weight: bold;
        }
        #ShowHideCurrentShowCurrent {
            display: block;
        }
    }
}

#ShowHideCurrent a:hover {
    text-decoration: underline;
}