@import './sites/site-links';
@import './sites/site-screenshot';
@import './sites/menu-holders';
@import './sites/responsive';
@import './sites/subsection-button-visibility';

Body.SitesPage {

    #main {
        border-radius: 5px;
    }

    .site {
        position: relative;
        border-top: 1px solid #2d57ff;
        margin-top: 1rem;
        &.hide-not-current {
            display: none;
        }
        &.show {
            display: block!important;
        }
        &.hidden {
            display: none!important;
        }
    }
    h4 {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        padding-right: 20px;
        line-height: 1.35;
        font-family: "Titillium Web", sans-serif;
        font-weight: 200;
    }
    .tiny-url {
        font-size: 1rem!important;
    }
    .site-action{
        display: block;
        float: right;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin: 0 7px;
        padding: 0px;
        background-color: #eee;
        line-height: 1.5em;
        width: 1.5em;
        text-align: center;
        color: #555;
    }
    .site-action:hover {
        color: #2d57ff;
        border-color: #2d57ff;
    }

    .site * {
        font-size: 1.5rem;
    }

    .error {
        color: #6e0101;
        text-decoration: line-through;
    }

    .project-details {
        margin: 0!important;
        padding: 0!important;
    }

    .list-details {
        padding: 0!important;
        margin: 0!important;
        padding-inline-start: 0px;
    }
    .list-details li {
        list-style: none;
        margin-left: 0px;
        &:has(.site-action) + li:has(.site-action) {
            margin-top: 1rem;
        }
    }

    .site-title {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .password {
        background-color: #eee;
        padding: 3px;
        display: inline-block;
    }
    h3.site-title,
    h3.site-title * {
        font-size: 2rem;
    }

    h3 {
        display: flex;
        .site-title-inner {
            flex-grow: 1;
        }
        &.has-screenshot {
            .site-title-inner {
                margin-left: calc(50px + 4px + 1rem);
            }
        }
    }
    .left-col {
        background-color: #eee;
        border-bottom: 1px solid #ccc;
        padding: 1rem;
        margin-bottom: 1rem;
        margin-top: 2rem;
        border-radius: 5px 5px 0 0;
    }

    .site-sub-section[data-field="Main"] {
        ul li {
            min-height: 3rem;
            &.add-link-holder {
                min-height: 0;
            }
        }
    }

    .set-max-width {
        max-width: 40rem;
        display: inline-block;
        word-break: break-all;
    }
}


@media print {
    .menu-holder,
    .site-action,
    .missing-links,
    .not-entered,
    .add-link-holder {
        //display: none!important;
        opacity: 0!important;
        height: 0!important;
        margin-top: 0!important;
        overflow: hidden!important;
    }

    .site-sub-section, .list-details {
        margin-bottom: 0!important;
        padding-bottom: 0!important;
        margin-top: 0!important;
        padding-top: 0!important;
    }

    .left-col {
        margin-top: 0!important;
        margin-bottom: 0.1rem!important;
    }

    a, span {
        text-decoration: none!important;
        font-size: 1rem!important;
    }
    a[href]:after {
        content: none !important;
    }

    body, li, li strong, li em, li div {
        font-size: 1rem!important;
        margin-top: 0!important;
    }

    .site-title-inner {
        font-size: 2rem!important;
    }
}
