Body.SitesPage {

    .site {
        position: relative;
        border-top: 1px solid #2d57ff;
        &.show {
            display: block!important;
        }
        &.hidden {
            display: none!important;
        }
    }
    .screenshot img {
        max-width: 100%;
        display: block;
        border: 1px solid #eee;
        margin: 1rem 1rem 1rem 0;
    }
    .site-action{
        display: block;
        float: right;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin: 0 7px;
        padding: 3px;
        background-color: #eee;
        line-height: inherit;
        width: 1.5em;
        text-align: center;
        color: #555;
    }
    .site-action:hover {
        color: #2d57ff;
        border-color: #2d57ff;
    }

    .active-links > ul,
    .active-links > ul > li ,
    .missing-links > ul,
    .missing-links > ul > li
    {
        padding-left: 0;
        margin-left: 0;
        list-style: none;
    }

    .site * {
        font-size: 1.5rem;
    }

    .error {
        color: #6e0101;
        text-decoration: line-through;
    }
    .site-sub-section {
        border-top: 1px solid #eee;
        margin-top: 1rem;
        padding-top: 1rem;
        min-height: 3rem;        
    }

    .missing-links, .active-links {
        margin-top: 2rem;
    }
    .missing-links [data-field] {
        border-top: none;
        margin-top: 0;
    }

    .missing-links ul {
        column-count: 3;
    }
    .missing-links ul li {
        font-size: 12px!important;
    }




    .link-holder {
        position: relative;
        padding-bottom: 1rem;
        padding-bottom: 0!important;
        margin-bottom: 0!important;
        padding-top: 1rem;
    }
    .link-holder > strong {
        float: left;
        display: block;
    }
    .link-items {
        padding: 0!important;
        margin: 0!important;
        margin-left: 242px!important;
    }
    .link-items li {
        list-style: none;
    }
    
    .link-items > li:not(:first-child){
        margin-top: 2rem!important;
        margin-bottom: 2rem!important;
    }

    .project-details {
        margin: 0!important;
        padding: 0!important;
    }

    .menu-holder {
        background-color: #a59e8c;
        padding: 20px;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        width: 200px;
        height: 100%;
        overflow-y: auto;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 0 2.6px;
    }

    .menu-holder li, .menu-holder p {
        font-size: 13px;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .menu-holder li a {
        padding-top: 3px;
        padding-bottom: 3px;
        display: block;
    }
    .menu-holder li a.current {
        color: white;
        font-weight: bold;
    }
    .menu-holder li a:hover {
        text-decoration: underline;
    }
    .menu-holder li a.current:hover {
        color: #fff;
    }
    #fieldsToc {
        box-shadow: rgba(0, 0, 0, 0.15) -1.95px 0px 2.6px;
        /* border-left: 1px solid #222; */
        background-color: #8ac926;
    }
    #toc {
        /* border-right: 1px solid #222; */
        right: auto;
        left: 0;
        background-color: #ffbe0b;
    }

    .site-title {
        min-height: 4rem;
    }
    h3.site-title, h3.site-title * {
        font-size: 2rem;
    }

    .hour-graph {
        background-color: beige;
        display: flex;
        max-height: 2rem;
        .current-hours,
        .hours-left {
            text-align: center;
            overflow: hidden;
        }
        .current-hours {
            background-color:#6e0101;
            color: white;
        }
        .hours-left {
            background-color: #8ac926;
        }
    }
    @media only screen and (max-width: 1330px)  {
        #fieldsToc {
            right: 20px;
        }
        #fieldsToc.on {
            right: 0px!important;
        }
        #toc {
            right: 60px;
            left: auto;
        }
        #toc.on {
            right: auto;
            left: 0!important;
        }
        .menu-holder {
            z-index: 99;
            width: 0px!important;
            padding: 30px!important;
            height: 0px!important;
            border-radius: 30px;
            overflow: visible;
            bottom: 0!important;
            top: auto!important;
            cursor: pointer;
        }
        .menu-holder  >  * {
            display: none;
        }
        .menu-holder.on {
            width: 50vw!important;
            height: 100%!important;
            border-radius: 0;
            top: 0!important;
        }
        .menu-holder.on > * {
            display: block;
        }
        .menu-holder:hover {
            bottom: 1px!important;
        }
        .menu-holder.on:hover {
            bottom: 0px!important;
        }
        .menu-holder.on:after {
            content: "\e5c9";
            font-family: 'Material Symbols Outlined';
            position: absolute;
            right: 30px;
            top: calc(100vh - 30px - 1em);
            font-size: 2rem;
            color: white;
        }
        #fieldsToc.on:after {
            right: auto;
            left: 30px;
        }
    }
    @media only screen and (min-width: 1600px)  {
        .screenshot {
            position: absolute;
            margin-left: -250px;
            top: 0;
            display: block;
            z-index: 999;
            img {
                display: block;
                max-width: 200px;
            }
            img:hover {
                max-width: 100%;
                left: 0;
            }
        }
    }
}
